* {
  margin: 0;
  padding: 0px;
  --fontsize: 1rem;
  --gap: .3rem;
  --padding: .4rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: min(1200px, 95%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-area"
    "session-area"
    "classlist-area"
    "classdetails-area"
    "studentlist-area"
  ;
}

.header-area {
  grid-area: header-area;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo-area logout-area";
  gap: var(--gap);
  padding: var(--padding);
}

.logo-area {
  grid-area: logo-area;

}

.logout-area {
  grid-area: logout-area;

  display: flex;
  justify-content: flex-end;

}

.session-area {
  grid-area: session-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr;
  grid-template-areas: "label-area"
    "dropdown-area";
  gap: var(--gap);
  padding: var(--padding);

}

.label-area {
  grid-area: label-area;
  font-size: calc(var(--fontsize) * .8);
  padding-left: calc(var(--padding) * .6);

}

.dropwdown-area {
  grid-area: dropwdown-area;
  font-size: calc(var(--fontsize) * 1);

}

.classlist-area {
  grid-area: classlist-area;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--padding);
  justify-content: center;
  align-items: center;
}

.classdetails-area {
  grid-area: classdetails-area;
  gap: var(--gap);
  padding: var(--padding);
}

.studentlist-area {
  grid-area: studentlist-area;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--gap);
  padding: var(--padding);
}

.btnlogout {
  font-size: var(--fontsize);
  width: 5em;
  padding: var(--padding);
  color: white;
}

.ddlclass {
  width: 100%;
  outline: none;
}

.classcard {
  font-size: calc(var(--fontsize) * 1);
  width: 6em;
  height: 6em;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 145, 255);
  align-items: center;

}

.classdetails {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "title-area title-area"
    "code-area ondate-area";
  gap: var(--gap);
  font-family: var(--fontsize);
}

.title-area {
  grid-area: title-area;

  display: flex;
  justify-content: start;
  align-items: center;
}

.code-area {
  grid-area: code-area;


  display: flex;
  justify-content: start;
  align-items: center;
}

.ondate-area {
  grid-area: ondate-area;

  display: flex;
  justify-content: end;
  align-items: center;
}

.ondate-area>input {
  font-size: var(--fontsize);
  outline: none;

}

.studentlist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.studentlist>label {
  font-size: calc(var(--fontsize)*.8);
}

.studentdetails {
  display: grid;
  grid-template-columns: .25fr 1.5fr .4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "slno-area rollno-area checkbox-area"
    "name-area name-area checkbox-area";
  gap: var(--gap);
  width: 100%;
  font-size: var(--fontsize);
  padding-top: calc(var(--padding) * 1.5);
  padding-bottom: calc(var(--padding) * 1.5);
}

.checkbox-area>input {
  font-size: var(--fontsize);
  width: 1.5em;
  height: 1.5em;
}

.rollno-area {
  grid-area: rollno-area;

}

.slno-area {
  grid-area: slno-area;

}

.name-area {
  grid-area: name-area;

}

.checkbox-area {
  grid-area: checkbox-area;


  display: flex;
  justify-content: end;
  align-items: center;
}